*{
    padding: 0;
    margin: 0;
}

#page{
    background-color: rgb(74,133,63);
    padding: 40px 0;
}

#card_container{
    margin: 0 auto;
    width: 40%;
    background-color: rgb(69, 122, 58);
    padding: 20px;
    border-radius: 15px;
}

button{
    border: 2px solid black;
    font-weight: bold;
    margin: 20px 0;
    border-radius: 10px;
}

#reset_btn{
    background-color: red;
    padding: 5px 10px;
}

#deal_btn{
    width: 200px;
    font-size: 30px;
    padding: 10px;
}

button:hover{
    cursor: pointer;
}

#reset_btn:hover{
    background-color: darkred;
}

#deal_btn:hover{
    background-color: royalblue;
}

#cards{
    display: flex;
    justify-content: space-between;
}

img, .card_border{
    margin: 30px 0;
    height: 314px;
    width: 226px;
}

#info_bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(69, 122, 58);
}

p{
    font-size: 30px;
}

.card_border{
    background-color: rgb(63, 112, 53);
    border-radius: 15px;
}

#deal_btn_container{
    display: flex;
    justify-content: center;
}