*{
    padding: 0;
    margin: 0;
}

.df{
    display: flex;
}

.br{
    border-radius: 15px;
}

#page{
    background-color: rgb(74,133,63);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#container{
    width: 60%;
    margin: 0 auto;
}

#card_container{
    flex: 3;
    background-color: rgb(69, 122, 58);
    padding: 20px;
    margin-left: 20px;
}

#score_container{
    flex: 1;
}

button{
    border: 2px solid black;
    font-weight: bold;
    border-radius: 10px;
}

#reset_btn{
    background-color: red;
    padding: 5px 10px;
    margin: 10px;
}

#deal_btn{
    width: 40%;
    font-size: 30px;
    padding: 10px;
}

button:hover{
    cursor: pointer;
}

#reset_btn:hover{
    background-color: darkred;
}

#deal_btn:hover{
    background-color: royalblue;
}

#cards{
    justify-content: space-between;
}

img{
    margin: 30px 0;
    height: 314px;
    width: 226px;
}

.info{
    margin-top: 20px;
    font-weight: bold;
}

.card_border{
    background-color: rgb(63, 112, 53);
    height: 320px;
    width: 232px;
    margin: 30px 0;
}

.btn_container, h1, .info{
    text-align: center;
}

#red_card{
    border: 3px solid red;
}

#blue_card{
    border: 3px solid blue;
}

#red_points{
    color: red;
}

#blue_points{
    color: blue;
}

#score{
    font-size: 30px;
    justify-content: space-evenly;
}

#score_box{
    background-color: rgb(69, 122, 58);
    padding: 20px;
}

@media only screen and (max-width: 1024px){
    
    .card_border{
        height: 160px;
        width: 115px;
    }

    img{
        height: 160px;
        width: 115px;
    }

    #container{
        flex-direction: column;
    }

    #card_container{
        margin: 0;
    }
}